.container-home {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(101, 95, 156, 0.6);
}

.container-home * {
  font-family: "Poppins", sans-serif;
  color: #f6f0f0;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.btn-logout {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* @media (max-width: 650px) {
  .container-home {
    width: 90%;
    padding: 20px;
  }

  .background-home {
    width: 100%;
    height: auto;
  }

  .shape-1 {
    width: 100px;
    height: 100px;
  }

  .shape-1:first-child {
    background: linear-gradient(#10368e, #596973);
    left: -291px;
    top: -20px;
  }

  .btn-logout {
    width: 100%;
    height: auto;
  }
} */
