.background-contacto {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(101, 95, 156, 0.6);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.contacto {
  color: #f09819;
  text-align: center;
  font-size: 34px;
}
.redes {
  color: white;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-media-img {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 768px) {
  /* Estilos específicos para teléfonos móviles */
  /* Aquí puedes definir reglas de estilo CSS que se aplicarán cuando el ancho de la pantalla sea igual o menor a 768px */
  .social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
  }
}
